* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'),
         local('OpenSans-Regular'),
         url("../fonts/OpenSans-Regular.woff2") format('woff2'),
         url("../fonts/OpenSans-Regular.woff") format('woff'),
         url("../fonts/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'),
         local('OpenSans-Bold'),
         url("../fonts/OpenSans-Bold.woff2") format('woff2'),
         url("../fonts/OpenSans-Bold.woff") format('woff'),
         url("../fonts/OpenSans-Bold.ttf") format('truetype');
         font-weight: 700;
         font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* Наложение макета */
    1background-image: url("../mq-diploma-master/sources/surface_768.jpg");
    1opacity: 0.5;
}

/* ----------
     HEADER
   ---------- */

.header {
    position: relative;
    background-image: url("../images/football_767.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0a0e34;
}

.header::after {
    content: '';
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #0a0e34;
    opacity: 0.9;
}

.content {
    padding: 0 20px;
}

.header__body {
    position: relative;
    z-index: 2;

    padding-top: 33px;
    padding-bottom: 84px;
}

.full-logo {
    display: block;
    width: 133px;
    margin: 0 auto;
}

.general-title {
    font-size: 28px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 1.4px;

    color: #ffffff;
    text-transform: uppercase;

    margin-top: 127px;
    margin-bottom: 84px;
}

.general-title__second-line {
    display: block;
    width: 225px;
    line-height: 120%;

    margin-right: 12px;
    margin-top: 20px;
    margin-left: auto;
}

.store__link {
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 17px;
    background-color: #5e42b0;

    font-size: 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    box-sizing: border-box;
    padding-left: calc(50% - 55px);
}

.store__logo {
    width: 24px;
    margin-right: 8px;
}

.store__name {
    display: block;
    font-weight: 700;
}

/* ----------
      MAIN
   ---------- */

.article {
    padding-top: 12px;
}

.article__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;

    text-transform: uppercase;
    color: #e7e7e7;
}

.article__image {
    padding: 0 9px;
    margin-top: 8px;
}

.article__image img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.article__list {
    list-style-type: none;
    counter-reset: article__list-counter;
}

/* Разный марджин наползания на картинку для .first-article и .second-article блоков для соответствия с макетом */
.first-article .article__list {
    margin-top: -60px;
}

.second-article .article__list {
    margin-top: -26px;
}

.article__list li {
    padding-top: 55px;
    padding-bottom: 53px;
}

.article__list li:nth-child(1) {
    padding-top: 83px;
    background-color: #fafafa;
}

.article__list li:nth-child(2) {
    background-color: #f5f4f9;
}

.first-article .article__list__last-item {
    background-color: #5e42b0;
}

.second-article .article__list__last-item {
    background-color: #090c35;
}

.list__item__title {
    display: inline-block;
    position: relative;

    font-size: 23px;
    font-weight: 700;
    line-height: 100%;

    text-transform: uppercase;
    letter-spacing: 1.15px;
    color: #c1c1c1;

    margin-left: 23px;
}

.list__item__title::before {
    content: '0' counter(article__list-counter);
    counter-increment: article__list-counter;

    position: absolute;
    top: -3px;
    left: -23px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;

    color: #000000;
    vertical-align: top;
}

.list__item__title::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 4px;

    top: 17px;
    left: -23px;

    border-radius: 2px;
    background-color: #5e42b0;
}

/* Меняем цвет подчеркивания номера последнего элемента списка*/
.article__list__last-item .list__item__title::after {
    background-color: #ffffff;
}

/* Меняем цвет текста последнего элемента списка */
.article__list__last-item .list__item__text {
    color: #ffffff;
}

/* Меняем цвет номера последнего элемента списка второго блока*/
.second-article .article__list__last-item .list__item__title::before {
    color: #8765dd;
}

.list__item__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;

    letter-spacing: 0.75px;
    margin-top: 21px;
}

/* ---------------
     ACTION-LIST
   --------------- */

.action__list {
    list-style-type: none;
    counter-reset: action__list-counter;
}

.action__text {
    padding: 29px 20px 82px 20px;
}

.action__item__image img {
    display: block;
    width: 100%;
}

.action__item__title {
    position: relative;

    font-size: 28px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 1.4px;
    color: #e7e7e7;
}

.action__item__title::before {
    content: '0' counter(action__list-counter);
    counter-increment: action__list-counter;

    font-size: 14px;
    font-weight: 700;
    line-height: 65px;
    vertical-align: center;
    text-align: center;

    letter-spacing: 0.7px;
    color: #f5f6f7;

    position: absolute;
    width: 70px;
    height: 70px;

    top: -86px;
    left: 0;

    background-color: #5e42b0;
}

.action__item__title::after {
    content: '';

    position: absolute;
    width: 17px;
    height: 4px;
    border-radius: 2px;

    top: -43px;
    left: calc(34px - 17px/2);
    background-color: #ffffff;
    opacity: 0.3;
}

.action__item__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    letter-spacing: 0.8px;
    margin-top: 18px;
}

/* ------------
      FOOTER
   ------------ */

.footer {
    position: relative;
    background-image: url("../images/game_767.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0a0e34;
}

.footer::after {
    content: '';

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #0a0e34;
    opacity: 0.9;

}

.footer__body {
    position: relative;
    z-index: 2;

    padding-top: 81px;
    padding-bottom: 10px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    width: 72px;
    height: 74px;
    background-image: linear-gradient(to top, #50329c 0%, #5e3db3 51%, #7751db 100%);
    border-radius: 25%;

    margin: 0 auto;
}

.footer__logo svg {
    display: block;
    width: 80%;
}

.footer__text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;

    text-transform: uppercase;
    color: #9b8ec1;

    text-align: center;
    margin-top: 48px;
    margin-bottom: 73px;
}

.footer__title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;

    text-transform: uppercase;
    color: #ffffff;
}

.footer__full-logo {
    margin-top: 82px;
}

/* ---------------------------
      MEDIA-320 (1 - 640)
   --------------------------- */

@media (max-width: 640px) {

    .store__link__container a:first-child {
        margin-bottom: 14px;
    }

}

/* ---------------------------
      MEDIA-768 (641 - 960)
   --------------------------- */

@media (min-width: 641px) and (max-width: 960px) {

    .content {
        padding: 0 32px;
    }

    .header__body {
        padding-top: 38px;
        padding-bottom: 91px;
    }

    .full-logo {
        width: 205px;
    }

    .general-title {
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 3.2px;

        padding-left: 50px;
        margin-top: 168px;
        margin-bottom: 300px;
    }

    .general-title__second-line {
        width: 502px;

        margin-right: 40px;
        margin-top: 8px;
    }

    .store__link__container {
        display: flex;
        justify-content: center;
    }

    .store__link {
        display: flex;

        flex: 0 0 311px;
        height: 77px;
        border-radius: 38px;

        font-size: 14px;
    }

    .app-store__link {
        padding-left: 38px;
    }

    .google-store__link {
        padding-left: 53px;
    }

    .store__link__container a:first-child {
        margin-right: 30px;
    }

    .app-store__link .store__logo {
        width: 45px;
        margin-top: -6px;
        margin-right: 23px;
    }

    .google-store__link .store__logo {
        width: 45px;
        margin-right: 27px;
    }

}

@media (min-width: 769px) and (max-width: 1280px) {

    .header {
        background-image: url("../images/football_1280.jpg");
    }
}








